﻿table {
    width: 60%;
    position: relative;
    margin: auto;
}

table,th,tr,td {
    text-align: center;
}

tr:nth-child(odd) {
    background: #fffcf6;
}

tr:nth-child(even) {
    background: #bdbdbd;
}

tr:first-child {
    background: #474747 !important;
    color: #ccc08c;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.cardsContainer
{
    display: inline-block;
    white-space: normal;
    position: inherit;
}

.card
{
    margin: 25px;
    padding: 5px;
    vertical-align: top;
    display: inline-block;
    position: inherit;
    border: solid 1px black;
    width: 200px;
}