﻿@model Student

@{
    ViewBag.Title = "Edit student info";
    Layout = "_Layout";
}

<h1>Edit student info</h1>
<form asp-action="edit" asp-controller="Student" asp-antiforgery="true">
    <input asp-for="Id" type="hidden"/>
    <div>
        <label>Имя</label>
        <input asp-for="FirstName"/>
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label>Фамилия</label>
        <input asp-for="SecondName"/>
        <span asp-validation-for="SecondName"></span>
    </div>
    <div>
        <label>Дата рождения</label>
        <input asp-for="BirthDay" type="date"/>
        <span asp-validation-for="BirthDay"></span>
    </div>
    <div>
        <label>Курс</label>
        <input asp-for="CourseNumber" type="number" min="1" max="6"/>
        <span asp-validation-for="CourseNumber"></span>
    </div>

    <input type="submit" value="Готово"/>

</form>