﻿@model Student

@{
    ViewBag.Title = "Student";
    Layout = "_Layout";
}

<h2>Student: @Model.FirstName @Model.SecondName</h2>
<p>Id: @Model.Id</p>
<p>Course: @Model.CourseNumber</p>
<p>BirthDay: @Model.BirthDay.ToString("dd.MM.yyyy")</p>
