﻿@model Student

@{
    ViewBag.Title = "Student Page";
    Layout = "_Layout";
}

<h2>Student Page</h2>
<p>Name: @Model.FirstName @Model.SecondName</p>
<p>Course: @Model.CourseNumber</p>
<p>BirthDay: @Model.BirthDay.ToString("MM.dd.yyyy")</p>
