﻿@model Student[]

@{
    ViewBag.Title = "Студенты.Карточки";
    Layout = "_Layout";
}

<h2>Студенты.Карточки</h2>
<main class="cardsContainer">
    @foreach (var st in Model)
    {
        <div class="card">
            <h2>@st.FirstName @st.SecondName</h2>
            <p>id: @st.Id</p>
            <p>Дата рождения: @st.BirthDay.ToString("dd.MM.yyyy")</p>
            <p>Курс: @st.CourseNumber</p>
        </div>
    }
</main>