﻿@using intro.Services
@model Student[]

@{
    ViewBag.Title = "Студенты";
    Layout = "_Layout";
}

<h1>Студенты</h1>
<h1>total: @Model.Length</h1>
@foreach (var element in Model)
{
    <p>id: @element.Id</p>
    <p>Имя: @element.FirstName @element.SecondName</p>
    <p>Курс: @element.CourseNumber</p>
    <p>ДР: @element.BirthDay</p>
    <hr>
}