﻿@model Student[]

@{
    ViewBag.Title = "Студенты списком";
    Layout = "_Layout";
}

<h2>Студенты списком</h2>
<table>
    <tr>
        <td>Id</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Дата рождения</td>
        <td>Курс</td>
    </tr>
    @foreach (var st in Model)
    {
        <tr>
            <td>@st.Id</td>
            <td>@st.FirstName</td>
            <td>@st.SecondName</td>
            <td>@st.BirthDay.ToString("dd.MM.yyyy")</td>
            <td>@st.CourseNumber</td>
        </tr>
    }
</table>